ion-content{
  --background: rgb(5, 17, 50);
}
#logo{
  height: 30%;
  margin-left: 15%;
  margin-top: 10%;
}
h1{
  margin-left: 5vh;
  margin-top: 0%;
  color: rgb(153, 193, 228);
  font-size: 6vh;
  font-weight: bold;
}
ion-item.background{
  --background: rgb(153, 193, 228);
  margin: 1vh;
}
ion-button.regist{
  --background: rgb(5, 17, 50);
  color: white;
  margin-left: 13vh;
}
ion-button.conf{
  --background: rgb(153, 193, 228);
  color: rgb(5, 17, 50);
  font-weight: bold;
  font-size: 2vh;
  margin-left: 13vh;
}
